[submodule "themes/hugo-apero"]
	path = themes/hugo-apero
	url = https://github.com/jasdeep/hugo-apero.git
[submodule "themes/hugo-prose"]
	path = themes/hugo-prose
	url = https://github.com/jasdeep/hugo-prose.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/jasdeep/hugo-PaperMod.git
[submodule "themes/paperesque"]
	path = themes/paperesque
	url = https://github.com/capnfabs/paperesque
	branch = mainline
